<sistema-ivvcgrj-menu></sistema-ivvcgrj-menu>

<div class="card-acompanhamento">
<mat-card>
    <!-- <mat-card-header>
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>Acesso administrativo</mat-card-subtitle>
  </mat-card-header> -->
  <img mat-card-image src="assets/imgs/visitantes.jpg" alt="Photo of a Shiba Inu">  
    <mat-card-content>
      <h2>Visitantes</h2>
      <p>Preencha as informações para cada 
        Programação</p>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" (click)="cadastrar()">Cadastrar</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
