<div class="sistema-ivvcgrj__content">
  <div class="logo-sistema"></div>
  <mat-card>
    <!-- <mat-card-header>
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>Acesso administrativo</mat-card-subtitle>
  </mat-card-header> -->
    <mat-card-content>
      <mat-form-field>
        <mat-label>Login</mat-label>
        <input formControlName="nome" matInput placeholder="Informe o usuário">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input formControlName="senha" matInput placeholder="Informe a senha" matInput [type]="hide ? 'password' : 'text'">
      </mat-form-field>
      <mat-card-actions align="end">
        <button mat-stroked-button color="primary">Recuperar senha</button>
        <button mat-raised-button color="primary">Entrar</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
  <div class="sistema-ivvcgrj__footer">
    <img src="assets/imgs/logo-sistema.png">
  </div>
</div>