.sistema-ivvcgrj-usuarios-consulta {
    &__card-usuarios-consulta {
        text-align: center;
        padding: 24px;
    }

    @media (min-width: 640px) {
        mat-card {
            width: 80%;
            margin: 0 auto;
        }
    }

    @media (max-width: 640px) {
        mat-card {
            width: 90%;
            margin: 0 auto;
        }
        .mat-container {
            // height: 400px;
            width: 300px;
          }
    }

    mat-form-field {
        width: 100%;
    }
    .action-button {
        width: 100%;
        margin-top: 24px;
        margin-bottom: 24px !important;
    }
    
    textarea {
        font-size: 16px;
        transform-origin: top left;
    }

    table {
        width: 1200px;
      }
    
      .mat-form-field {
        font-size: 14px;
        width: 100%;
      }
    
      td, th {
        // width: 100px;
      }
    //   .mat-elevation-z8 {
    //     width: 98%;
    //     margin: 0 auto;
    //   }
      .mat-container {
        // height: 400px;
        width: 550px;
        max-width: 100%;
        overflow: auto;
      }
      .mat-mdc-table {
        // table-layout: fixed;
        white-space: normal;
     }
      input {
          font-size: 16px;
      }
      th.mat-sort-header-sorted {
        color: black;
      }
      tr.example-detail-row {
        height: 0;
      }
    
      tr.example-element-row:not(.example-expanded-row):hover {
        background: whitesmoke;
      }
    
      tr.example-element-row:not(.example-expanded-row):active {
        background: #efefef;
      }
    
      .example-element-row td {
        border-bottom-width: 0;
      }
    
      .example-element-detail {
        overflow: hidden;
        display: flex;
      }
    
      .example-element-diagram {
        min-width: 80px;
        border: 2px solid black;
        padding: 8px;
        font-weight: lighter;
        margin: 8px 0;
        height: 104px;
      }
    
      .example-element-symbol {
        font-weight: bold;
        font-size: 40px;
        line-height: normal;
      }
    
      .example-element-description {
        padding: 16px;
      }
    
      .example-element-description-attribution {
        opacity: 0.5;
      }
      .container-button {
        margin-bottom: 16px;
        button {
          margin-right: 16px;
        }
      }
      .th-name {
        width: 140px;
        background-color: #fbfbfb;
      }
      .th-telefone {
        width: 150px;
      }
    //   .th-sel {
    //     // width: 2%;
    
    //   }
    mat-icon {
        vertical-align: top;
    }
      
    
}
::ng-deep {
    .mat-mdc-paginator-range-actions {
        display: block !important;
    }
    .mat-mdc-paginator-container {
        margin-bottom: 16px;
    }
}